//LANDING-PIROS
.bannerLandingPiros {
	.cls-1 {
		fill: none;
	}

	.cls-2 {
		clip-path: url(#clip-path);
	}

	.cls-3 {
		clip-path: url(#clip-path-2);
	}

	.cls-4 {
		opacity: 0.02;
	}

	.cls-5 {
		font-size: 72.32px;
		letter-spacing: -0.03em;
	}

	.cls-28,
	.cls-37,
	.cls-38,
	.cls-5,
	.cls-6 {
		fill: #fff;
	}

	.cls-13,
	.cls-14,
	.cls-16,
	.cls-20,
	.cls-34,
	.cls-5 {
		font-family: GardeniaBlackItalic, Gardenia-BlackItalic;
	}

	.cls-12,
	.cls-13,
	.cls-14,
	.cls-16,
	.cls-17,
	.cls-20,
	.cls-25,
	.cls-28,
	.cls-37,
	.cls-38,
	.cls-5,
	.cls-6 {
	}

	.cls-6 {
		font-size: 59.69px;
		font-family: ArgentumSans-Italic, Argentum Sans;
		letter-spacing: -0.03em;
	}

	.cls-7 {
		letter-spacing: -0.05em;
	}

	.cls-8 {
		letter-spacing: -0.04em;
	}

	.cls-9 {
		letter-spacing: -0.02em;
	}

	.cls-10 {
		letter-spacing: -0.07em;
	}

	.cls-11 {
		font-size: 38.28px;
		font-family: ArgentumSansLight, Argentum Sans, 'sans-serif';
		letter-spacing: -0.02em;
	}

	.cls-11,
	.cls-17,
	.cls-25 {
		fill: #838085;
	}

	.cls-12,
	.cls-13,
	.cls-14,
	.cls-16,
	.cls-20 {
		fill: #ff8004;
	}

	.cls-12 {
		font-family: ArgentumSans-BoldItalic, Argentum Sans, 'sans-serif';
		font-weight: 700;
		letter-spacing: -0.03em;
	}

	.cls-13 {
		font-size: 92.97px;
		letter-spacing: 0.02em;
	}

	.cls-14 {
		font-size: 114.49px;
		letter-spacing: -0.03em;
	}

	.cls-15 {
		font-size: 74.98px;
		letter-spacing: -0.02em;
	}

	.cls-16 {
		font-size: 48.37px;
		letter-spacing: -0.01em;
	}

	.cls-17,
	.cls-25 {
		font-size: 33.87px;
		font-family: GardeniaBoldItalic, Gardenia-BoldItalic, 'sans-serif';
	}

	.cls-17 {
		letter-spacing: -0.05em;
	}

	.cls-18,
	.cls-25 {
		letter-spacing: -0.04em;
	}

	.cls-19,
	.cls-24 {
		fill: #717372;
	}

	.cls-19 {
		letter-spacing: -0.02em;
	}

	.cls-20 {
		font-size: 37.81px;
		letter-spacing: -0.03em;
	}

	.cls-21 {
		letter-spacing: -0.02em;
	}

	.cls-22 {
		letter-spacing: -0.05em;
	}

	.cls-23 {
		letter-spacing: -0.03em;
	}

	.cls-24 {
		font-size: 29.9px;
		letter-spacing: -0.03em;
	}

	.cls-26 {
		letter-spacing: -0.05em;
	}

	.cls-27 {
		letter-spacing: -0.04em;
	}

	.cls-28 {
		font-size: 29.5px;
		font-family: argentum-sanslight-italic, Argentum Sans, 'sans-serif';
	}

	.cls-29 {
		letter-spacing: -0.02em;
	}

	.cls-30 {
		letter-spacing: -0.08em;
	}

	.cls-31 {
		letter-spacing: -0.04em;
	}

	.cls-32 {
		letter-spacing: -0.02em;
	}

	.cls-33 {
		letter-spacing: -0.07em;
	}

	.cls-34 {
		font-size: 32.52px;
	}

	.cls-35 {
		letter-spacing: -0.01em;
	}

	.cls-36 {
		letter-spacing: -0.01em;
	}

	.cls-37 {
		font-size: 12.1px;
		font-family: ArgentumSans-MediumItalic, Argentum Sans, 'sans-serif';
	}

	.cls-38 {
		font-size: 29.34px;
		font-family: Gardenia-UltraBlackItalic, Gardenia-UltraBlackItalic, 'sans-serif';
	}

	.cls-39 {
		letter-spacing: -0.01em;
	}

	.cls-40 {
		letter-spacing: 0em;
	}
}

.bannerLandingPirosMovil {
	.cls-1 {
		font-size: 17.12px;
		font-family: argentum-sanslight-italic, Argentum Sans, 'sans-serif';
	}

	.cls-1,
	.cls-12,
	.cls-13 {
		fill: #fff;
	}

	.cls-1,
	.cls-12,
	.cls-15,
	.cls-16,
	.cls-19,
	.cls-20,
	.cls-23,
	.cls-25,
	.cls-26 {
	}

	.cls-2 {
		letter-spacing: -0.02em;
	}

	.cls-3 {
		letter-spacing: -0.08em;
	}

	.cls-4 {
		letter-spacing: -0.02em;
	}

	.cls-5 {
		letter-spacing: -0.04em;
	}

	.cls-6 {
		letter-spacing: -0.02em;
	}

	.cls-7 {
		letter-spacing: -0.07em;
	}

	.cls-8 {
		font-size: 18.88px;
	}

	.cls-19,
	.cls-20,
	.cls-23,
	.cls-8 {
		font-family: GardeniaBlackItalic, Gardenia-BlackItalic, 'sans-serif';
	}

	.cls-9 {
		letter-spacing: -0.01em;
	}

	.cls-10 {
		letter-spacing: -0.01em;
	}

	.cls-11 {
		letter-spacing: 0em;
	}

	.cls-12 {
		font-size: 7.02px;
		font-family: ArgentumSans-MediumItalic, Argentum Sans, 'sans-serif';
	}

	.cls-14 {
		font-size: 18.51px;
		letter-spacing: -0.02em;
	}

	.cls-14,
	.cls-24 {
		fill: #838085;
		font-family: ArgentumSansLight, Argentum Sans;
	}

	.cls-15,
	.cls-16,
	.cls-19,
	.cls-20,
	.cls-23,
	.cls-25,
	.cls-26 {
		fill: #ff8004;
	}

	.cls-15 {
		font-family: ArgentumSans-SemiBoldItalic, Argentum Sans;
	}

	.cls-15,
	.cls-16 {
		font-weight: 700;
	}

	.cls-16 {
		font-family: ArgentumSans-BoldItalic, Argentum Sans;
		letter-spacing: -0.03em;
	}

	.cls-17 {
		letter-spacing: -0.07em;
	}

	.cls-18 {
		letter-spacing: -0.03em;
	}

	.cls-19 {
		font-size: 44.31px;
		letter-spacing: 0.02em;
	}

	.cls-20 {
		font-size: 54.56px;
		letter-spacing: -0.02em;
	}

	.cls-21 {
		font-size: 35.73px;
		letter-spacing: -0.03em;
	}

	.cls-22 {
		letter-spacing: -0.03em;
	}

	.cls-23 {
		font-size: 23.05px;
		letter-spacing: -0.01em;
	}

	.cls-24 {
		font-size: 17.92px;
		letter-spacing: -0.03em;
	}

	.cls-25,
	.cls-26 {
		font-size: 18.92px;
		font-family: ArgentumSans-BlackItalic, Argentum Sans;
	}

	.cls-25 {
		letter-spacing: -0.02em;
	}

	.cls-26 {
		letter-spacing: -0.08em;
	}

	.cls-27 {
		font-size: 17.25px;
		letter-spacing: -0.02em;
	}
}

.atributosLandingPiros {
	.cls-1 {
		font-size: 14.76px;
		fill: #838185;
	}

	.cls-1,
	.cls-12,
	.cls-5,
	.cls-8 {
		font-family: ArgentumSansRegular, Argentum Sans;
	}

	.cls-2 {
		letter-spacing: -0.03em;
	}

	.cls-3 {
		letter-spacing: 0em;
	}

	.cls-4 {
		fill: #f04;
	}

	.cls-12,
	.cls-15,
	.cls-16,
	.cls-5,
	.cls-8 {
		font-size: 15px;
	}

	.cls-12,
	.cls-5,
	.cls-8 {
		fill: #717372;
	}

	.cls-5,
	.cls-9 {
		letter-spacing: 0.02em;
	}

	.cls-12,
	.cls-6 {
		letter-spacing: 0.03em;
	}

	.cls-7 {
		letter-spacing: 0.03em;
	}

	.cls-10 {
		letter-spacing: 0.02em;
	}

	.cls-11 {
		letter-spacing: 0.02em;
	}

	.cls-13 {
		letter-spacing: 0em;
	}

	.cls-14 {
		letter-spacing: 0em;
	}

	.cls-15,
	.cls-16,
	.cls-17,
	.cls-18 {
		fill: #fff;
	}

	.cls-15,
	.cls-16 {
		font-family: ArgentumSansSemiBold, Argentum Sans;
		font-weight: 600;
	}

	.cls-15 {
		letter-spacing: -0.03em;
	}

	.cls-16 {
		letter-spacing: -0.03em;
	}

	.cls-17,
	.cls-18 {
		stroke: #fff;
		stroke-miterlimit: 10;
	}

	.cls-17 {
		stroke-width: 0.5px;
	}

	.cls-18 {
		stroke-width: 0.25px;
	}
}

.atributosLandingPirosMovil {
	.cls-1 {
		font-size: 17.65px;
		fill: #838185;
	}

	.cls-1,
	.cls-10,
	.cls-15,
	.cls-7 {
		font-family: ArgentumSansRegular, Argentum Sans;
	}

	.cls-2 {
		letter-spacing: -0.03em;
	}

	.cls-3 {
		font-size: 17px;
		letter-spacing: -0.03em;
	}

	.cls-16,
	.cls-3,
	.cls-4,
	.cls-5 {
		fill: #fff;
	}

	.cls-16,
	.cls-3 {
		font-family: ArgentumSansSemiBold, Argentum Sans;
		font-weight: 600;
	}

	.cls-4,
	.cls-5 {
		stroke: #fff;
		stroke-miterlimit: 10;
	}

	.cls-4 {
		stroke-width: 0.5px;
	}

	.cls-5 {
		stroke-width: 0.25px;
	}

	.cls-6 {
		fill: #f04;
	}

	.cls-10,
	.cls-15,
	.cls-7 {
		font-size: 18.41px;
		fill: #717372;
	}

	.cls-11,
	.cls-7 {
		letter-spacing: 0.02em;
	}

	.cls-8 {
		letter-spacing: 0.03em;
	}

	.cls-15,
	.cls-9 {
		letter-spacing: 0.02em;
	}

	.cls-12 {
		letter-spacing: 0.02em;
	}

	.cls-13 {
		letter-spacing: 0.03em;
	}

	.cls-14 {
		letter-spacing: 0.02em;
	}

	.cls-16 {
		font-size: 19px;
		letter-spacing: -0.03em;
	}
}

//TERRA
.bannerTerra1 {
	.cls-1 {
		fill: none;
	}

	.cls-2 {
		isolation: isolate;
	}

	.cls-3 {
		clip-path: url(#clip-path);
	}

	.cls-4 {
		clip-path: url(#clip-path-2);
	}

	.cls-5 {
		clip-path: url(#clip-path-3);
	}

	.cls-6 {
		opacity: 0.7;
		mix-blend-mode: luminosity;
	}

	.cls-7 {
		font-size: 17.55px;
		letter-spacing: 0.05em;
	}

	.cls-10,
	.cls-15,
	.cls-18,
	.cls-19,
	.cls-22,
	.cls-23,
	.cls-7 {
		fill: #fff;
	}

	.cls-10,
	.cls-15,
	.cls-19,
	.cls-23,
	.cls-7 {
		font-family: Geomanist Regular;
	}

	.cls-8 {
		letter-spacing: 0.02em;
	}

	.cls-9 {
		letter-spacing: 0.05em;
	}

	.cls-10 {
		font-size: 17.55px;
		letter-spacing: 0.05em;
	}

	.cls-11 {
		letter-spacing: -0.04em;
	}

	.cls-12 {
		letter-spacing: 0.05em;
	}

	.cls-13 {
		letter-spacing: -0.01em;
	}

	.cls-14 {
		letter-spacing: 0.05em;
	}

	.cls-15,
	.cls-19,
	.cls-23 {
		font-size: 19.39px;
	}

	.cls-16 {
		letter-spacing: 0.07em;
	}

	.cls-17 {
		font-size: 66.48px;
	}

	.cls-17,
	.cls-22 {
		font-family: BadassMoon, Badass Moon;
	}

	.cls-18 {
		font-size: 25.95px;
		font-family: Geomanist Bold, Geomanist;
		font-weight: 700;
		letter-spacing: 0.08em;
	}

	.cls-19,
	.cls-25 {
		letter-spacing: 0.02em;
	}

	.cls-20 {
		letter-spacing: 0.05em;
	}

	.cls-21,
	.cls-23 {
		letter-spacing: 0.02em;
	}

	.cls-22 {
		font-size: 69.95px;
	}

	.cls-24 {
		letter-spacing: 0em;
	}
}

.bannerTerra1Web {
	.cls-1,
	.cls-5 {
		font-size: 28.1px;
	}

	.cls-1,
	.cls-10,
	.cls-12,
	.cls-4,
	.cls-5,
	.cls-8 {
		fill: #fff;
	}

	.cls-1,
	.cls-10,
	.cls-12,
	.cls-5 {
		font-family: 'Geomanist Regular';
	}

	.cls-2 {
		letter-spacing: 0.07em;
	}

	.cls-3 {
		font-size: 96.36px;
	}

	.cls-3,
	.cls-8 {
		font-family: BadassMoon, Badass Moon;
	}

	.cls-4 {
		font-size: 37.61px;
		font-family: 'Geomanist Bold', Geomanist;
		font-weight: 700;
		letter-spacing: 0.08em;
	}

	.cls-5 {
		letter-spacing: 0.02em;
	}

	.cls-6 {
		letter-spacing: 0.05em;
	}

	.cls-7 {
		letter-spacing: 0.02em;
	}

	.cls-8 {
		font-size: 101.38px;
	}

	.cls-9 {
		letter-spacing: 0em;
	}

	.cls-10 {
		font-size: 30.25px;
		letter-spacing: 0.05em;
	}

	.cls-11 {
		letter-spacing: 0.02em;
	}

	.cls-12 {
		font-size: 30.25px;
		letter-spacing: 0.05em;
	}

	.cls-13 {
		letter-spacing: -0.04em;
	}

	.cls-14 {
		letter-spacing: 0.05em;
	}

	.cls-15 {
		letter-spacing: -0.01em;
	}
}

.bannerTerra2 {
	.cls-1 {
		fill: none;
	}

	.cls-2 {
		clip-path: url(#clip-path);
	}

	.cls-3 {
		clip-path: url(#clip-path-2);
	}

	.cls-4 {
		clip-path: url(#clip-path-3);
	}

	.cls-5 {
		font-size: 29.05px;
		font-family: 'Geomanist Light';
		font-weight: 300;
		letter-spacing: -0.03em;
	}

	.cls-11,
	.cls-18,
	.cls-21,
	.cls-5,
	.cls-8,
	.cls-9 {
		fill: #f5f6f7;
	}

	.cls-20,
	.cls-22,
	.cls-6 {
		font-family: 'Geomanist Bold';
		font-weight: 700;
	}

	.cls-7 {
		font-size: 65.47px;
		fill: #f7f4f4;
		font-family: BadassMoon, Badass Moon;
	}

	.cls-20,
	.cls-22,
	.cls-8,
	.cls-9 {
		font-size: 19.69px;
	}

	.cls-18,
	.cls-21,
	.cls-8,
	.cls-9 {
		font-family: 'Geomanist Regular';
	}

	.cls-10,
	.cls-8 {
		letter-spacing: 0em;
	}

	.cls-20,
	.cls-9 {
		letter-spacing: 0em;
	}

	.cls-11 {
		font-size: 50.4px;
		letter-spacing: 0em;
	}

	.cls-11,
	.cls-13 {
		font-family: 'Geomanist Black';
		font-weight: 800;
	}

	.cls-12 {
		font-size: 36.99px;
		letter-spacing: 0em;
	}

	.cls-13 {
		font-size: 38.55px;
		fill: #91a833;
		letter-spacing: 0em;
	}

	.cls-14 {
		font-size: 30.43px;
		letter-spacing: 0em;
	}

	.cls-15 {
		letter-spacing: 0em;
	}

	.cls-16 {
		font-size: 22.32px;
		letter-spacing: 0em;
	}

	.cls-17 {
		font-size: 11.48px;
		fill: #fff;
		font-family: 'Axiforma-Book';
		letter-spacing: 0em;
	}

	.cls-18,
	.cls-21 {
		font-size: 20.48px;
	}

	.cls-18 {
		letter-spacing: -0.03em;
	}

	.cls-19,
	.cls-21 {
		letter-spacing: 0em;
	}

	.cls-22 {
		letter-spacing: 0em;
	}
}

.bannerTerra2Web {
	.cls-1 {
		font-size: 42.6px;
		font-family: 'Geomanist Light', Geomanist;
		font-weight: 300;
		letter-spacing: -0.03em;
	}

	.cls-1,
	.cls-13,
	.cls-16,
	.cls-4,
	.cls-6,
	.cls-8 {
		fill: #f5f6f7;
	}

	.cls-15,
	.cls-2 {
		font-family: 'Geomanist Bold', Geomanist;
		font-weight: 700;
	}

	.cls-3 {
		font-size: 96px;
		fill: #f7f4f4;
		font-family: BadassMoon, Badass Moon;
	}

	.cls-15,
	.cls-4 {
		font-size: 29.45px;
		letter-spacing: 0em;
	}

	.cls-13,
	.cls-16,
	.cls-4 {
		font-family: 'Geomanist Regular';
	}

	.cls-5 {
		letter-spacing: 0em;
	}

	.cls-6 {
		font-size: 75.39px;
		letter-spacing: 0em;
	}

	.cls-6,
	.cls-9 {
		font-family: 'Geomanist Black', Geomanist;
		font-weight: 800;
	}

	.cls-7 {
		font-size: 55.34px;
		letter-spacing: 0em;
	}

	.cls-9 {
		font-size: 57.66px;
		fill: #91a833;
		letter-spacing: 0em;
	}

	.cls-10 {
		font-size: 45.52px;
		letter-spacing: 0em;
	}

	.cls-11 {
		font-size: 33.38px;
		letter-spacing: 0em;
	}

	.cls-12 {
		font-size: 17.18px;
		fill: #fff;
		font-family: 'Axiforma-Book', Axiforma;
		letter-spacing: 0em;
	}

	.cls-13,
	.cls-16 {
		font-size: 30.63px;
	}

	.cls-13 {
		letter-spacing: -0.03em;
	}

	.cls-14 {
		letter-spacing: 0em;
	}

	.cls-16 {
		letter-spacing: 0em;
	}
}
