@font-face {
	font-family: 'Geomanist Regular';
	font-display: swap;
	src: url('../fonts/Geomanist.woff2') format('woff2');
}
@font-face {
	font-family: 'Geomanist Bold';
	font-display: swap;
	src: url('../fonts/Geomanist-Bold.woff2') format('woff2');
}
@font-face {
	font-family: 'BeVietnam-Bold';
	font-display: swap;
	src: url('../fonts/BeVietnam-Bold.woff');
}
@font-face {
	font-family: 'BeVietnam-SemiBold';
	font-display: swap;
	src: url('../fonts/BeVietnam-SemiBold.woff');
}
@font-face {
	font-family: 'Geomanist Book';
	font-display: swap;
	src: url('../fonts/Geomanist-Book.woff2') format('woff2');
}
@font-face {
	font-family: 'Geomanist Light';
	font-display: swap;
	src: url('../fonts/Geomanist-Light.woff2') format('woff2');
}
@font-face {
	font-family: 'BeVietnam-Medium';
	font-display: swap;
	src: url('../fonts/BeVietnam-Medium.woff');
}
