.page-multimedia {
	position: relative;
	background-color: #f5f6f7;
	@media (max-width: 540px) {
		.mt-5 {
			margin-top: 0rem !important;
		}
		.pt-4 {
			padding-top: 0rem !important;
		}
		.contentImgTitle {
			.imgtitle {
				width: 70vw;
				.paloma-bird {
					display: block;
					width: 10vw;
					height: 10vw;
				}
			}
		}
	}
	.carousel-marco {
		&:after {
			width: 100%;
			-webkit-mask-image: url(../../images/workingprogress/marco.svg);
		}
		.owl-prev {
			left: 1% !important;
		}
		.owl-next {
			right: -1%;
		}
		@media (max-width: 768px) {
			.owl-prev {
				left: 0% !important;
			}
			.owl-next {
				right: 0%;
			}
		}
	}
	.animated {
		&.delay-2s {
			-webkit-animation-delay: 1.2s;
			animation-delay: 1.2s;
		}
		&.delay-3s {
			-webkit-animation-delay: 1.6s;
			animation-delay: 1.6s;
		}
	}
	.contentImgPlay {
		width: 100%;
		padding-top: 61.5%;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		i {
			position: absolute;
			height: 100%;
			color: var(--nesta_color);
			top: 0;
			display: flex;
			align-items: center;
		}
		.icon {
			width: 60px;
			position: absolute;
			top: 0;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&:hover {
			&:before {
				width: 70px;
				height: 70px;
				margin-top: -35px;
			}
		}
		&:before {
			content: '';
			width: 60px;
			background: #f5f6f7;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
			top: 50%;
			margin-top: -30px;
			height: 60px;
			position: absolute;
			border-radius: 50%;
			transition: 500ms ease all;
		}
	}
	.carousel-normal {
		.contentImage {
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
			width: 100%;
			padding-top: 69.5%;
			cursor: zoom-in;
		}
	}
	.section-entorno {
		position: relative;
		.contentImgTitle {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			padding-top: 1.7%;
			padding-bottom: 2.5%;
			@media (max-width: 540px) {
				width: 100%;
				height: 100%;
				margin: auto;
				padding-top: 2%;
			}
			.imgtitle {
				.paloma-bird {
					&:nth-child(1) {
						left: -20%;
						bottom: 38%;
					}
					&:nth-child(2) {
						right: -20%;
						top: 30%;
					}
				}
				@media (max-width: 540px) {
					width: 70vw;
					.paloma-bird {
						display: block;
						width: 10vw;
						height: 10vw;
						&:nth-child(1) {
							left: -18%;
							bottom: 38%;
						}
					}
				}
			}
		}
	}
	.section-vivesuperior {
		background: url(../../images/inicio/background-areas.png);
		background-size: 100%;
		background-repeat: no-repeat;
		background-attachment: fixed, scroll;
		.contentImgTitle {
			width: 100%;
			display: flex;
			justify-content: center;
			position: relative;
			color: #004a43;
			.imgtitle {
				transform: translateY(-3%);
				.paloma-bird {
					&:nth-child(1) {
						left: -20%;
						bottom: 38%;
					}
					&:nth-child(2) {
						right: -20%;
						top: 30%;
					}
				}
			}
		}
		.contentItem {
			.contentImgPlay {
				padding-top: 61%;
			}
			.episode {
				color: var(--nesta_color);
				text-transform: uppercase;
				font-weight: 700;
				font-size: 14px;
				font-family: 'Geomanist Bold', 'sans-serif';
				margin-top: 8px;
			}
			.title {
				font-size: 22px;
				color: #37594e;
				font-weight: 400;
				font-family: 'Geomanist Book';
				.duration {
					color: #959596;
				}
			}
			.description {
				font-size: 16px;
				color: #37594e;
				font-family: 'Geomanist Regular', 'sans-serif';
			}
		}
	}
	.section-recorridovirtual {
		width: 100%;
		.contentImgTitle {
			width: 100%;
			display: flex;
			justify-content: center;
			position: relative;
			.imgtitle {
				transform: translateY(-3%);
				.paloma-bird {
					&:nth-child(1) {
						left: -20%;
						bottom: 38%;
					}
				}
			}
		}
		.content__virtualExperience {
			margin: auto;
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			@media (max-width: 768px) {
				width: 100%;
			}
			.headerVirtualExperience {
				margin: auto;
				//width: 47%;
				width: 100%;
				//padding-top: 10%;
				padding-top: 13%;
				@media (max-width: 768px) {
					padding-top: 19%;
				}
			}
			.virtualExperience {
				margin: auto;
				width: 47%;
				padding-top: 52.4%;
				position: relative;
				display: flex;
				flex-direction: column;
				margin-top: 2rem;
				@media (max-width: 768px) {
					width: 100%;
					padding-top: 82%;
					margin-top: 5rem;
				}
				.title-virtualExperience {
					order: 1;
					position: absolute;
					top: 0;
					margin: auto;
					display: block;
					width: 100%;
					text-align: center;
					font-weight: 400;
					font-family: 'Geomanist Bold', 'sans-serif';
					font-size: 23px;
					@media (max-width: 768px) {
						top: -3rem;
					}
				}
				a {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
