// Colors
$lar_color: #ef7622;
$terra_color: #37584d;
$nesta_color: #91a833;
$piros_color: #ec0044;
$aqua_color: #48bce2;
$ventos_color: #e8ae1e;
$platinum_color: #777777;
$gray_color: #f5f6f7;

.bg_terra_color{background-color:$terra_color;}
.bg_nesta_color{background-color:$nesta_color;}
.bg_piros_color{background-color:$piros_color;}
.bg_aqua_color{background-color:$aqua_color;}
.bg_ventos_color{background-color:$ventos_color;}
.bg_platinum_color{background-color:$platinum_color;}
.bg_gray_color{background-color:$gray_color;}